body {
    color: blue;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Medium', 
    margin: 0%;
    padding: 0%;
    font-size: 16px;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: 2.9rem;
}

.container {

    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid blanchedalmond;
    margin: 0 auto;
}
.container p {
    font-size: 1.8rem;
}
 
.cabecera {
    display: flex;
    background-color:red;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}
.cabecera .textooo {
    margin: 0 0 6rem;
    font-weight: normal;
    padding: 1.1rem;
    font-size: 1.8rem;
    padding-top: 2.5rem;

}


